@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse farthest-corner at center top, #93F9B9, #1D976C);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  height: 100vh;
}

.wrapper {
  position: relative;
  left: 50%;
  width: 1000px;
  height: 555px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.container {
  position: relative;
  top: 55%;
  left: 50%;
  width: 80%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 51px 82px -21px rgba(4, 65, 46, 0.63);
  -moz-box-shadow: 0px 51px 82px -21px rgba(4, 65, 46, 0.63);
  box-shadow: 0px 51px 82px -21px rgba(4, 65, 46, 0.63);
}

.container .left {
  float: left;
  width: 30.6%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
}

.container .left .top {
  position: relative;
  width: 100%;
  padding: 29px;
}

.container .left .top::after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: "";
  background-color: rgb(230, 230, 230);
  transform: translate(-50%, 0px);
}

.container .left h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: x-large;
}


.container .left .users {
  border-right: 1px solid #e6e6e6;
  width: -o-calc(100% + 1px);
  width: calc(100% + 1px);
  height: calc(85%);
  overflow-y: auto;
}

.container .left .users .user {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  background-color: #fff;
  display: inline-block;
}

.container .left .users .user img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #62bf6e;
}

.container .left .users .user .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-weight: 600;
}

.container .left .users .user .status {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 65%;
  white-space: nowrap;
  color: #999;
}

.container .right {
  position: relative;
  float: left;
  width: 69.4%;
  height: 100%;
}

.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}


.container .right .chat {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 35px 12px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: -o-calc(100% - 48px);
  height: calc(85% - 48px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}

.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}

.container .right .msg {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}

.container .right .msg strong {
  font-weight: bold;
}

.container .right .msg:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
  transform: rotate(29deg) skew(-35deg);
}

.container .right .msg.me {
  float: left;
  color: #fff;
  background-color: #1D976C;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.container .right .msg.me:before {
  left: -3px;
  background-color: #1D976C;
}

.container .right .msg.you {
  float: right;
  color: #1a1a1a;
  background-color: #eceff1;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}

.container .right .msg.you:before {
  right: -3px;
  background-color: #eceff1;
}

.container .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  width: -o-calc(100% - 58px);
  width: calc(100% - 58px);
  border-radius: 5px;
}

.container .right .write input {
  font-size: 16px;
  float: left;
  width: 94%;
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.container .right .write .write-link.send input[type="button"], button, button:active {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  outline: 0 !important;
  height: 40px;
  line-height: 0px
}

.container .right .write button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner {
    border: 0;
    outline : 0;
} 